//TODO: ta sekcja powinna być wyśrodkowana na całej stronie bez względu na oddalenie, znaczy jej zawartość
header{
    // FIXME: delete border
  border: 1px solid red;
  background: black;
  padding: 50px;
  .comercial_main{
    width: 1500px;
    margin: 0 auto;

    .comercial_pr{
      margin-top: 50px;
      // FIXME: delete border
      border: 1px solid red;
      width: 1100px;
      display: inline-block;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        width: 30%;
        border-bottom: 10px solid magenta;
        left: 0;
        top: 35%;
      }
      div{
        h1{
          font-size: 55px;
          color: white;
          text-transform: uppercase;
          font-weight: normal;
        }
        p{
          color: grey;
          line-height: 35px;
          font-size: 25px;
          font-family: courier;
        }
      }
      p{
        margin-top: 50px;
        color: grey;
        font-size: 25px;
        line-height: 25px;
      }
      .video{
        width: 300px;
        background: #2B2C35;
        position: relative;
        img{
          display: inline-block;
          width: 50px;
          height: 50px;
        }
        p{
          display: inline-block;
          position: absolute;
          top: -41px;
          &:hover{
            color: magenta;
          }
        }
      }
    }
    .images{
      display: inline-block;
    }
  }
}
