*{
  box-sizing: border-box;
  font-family: verdana;
}
section{
  padding: 20px;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 5px 5px;
  background-color:#282828;
  background-size:5px 5px;
  color: white;
  .logo{
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }
  nav{
    margin: 0 auto;
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    li{
      display: inline-block;
      margin-right: 20px;
      &:hover{
        color: magenta;
      }
    }
  }
  .motto{
    margin: 0 auto;
    width: 550px;
    position: relative;
    h1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
    span{
      font-weight: bold;
      }
    }
    &:after{
      content: "";
      position: absolute;
      height: 1px;
      width: 30%;
      border-bottom: 1px solid magenta;
      left: 35%;
      top: 125%;
    }
  }
  .motto_description{
    margin: 0 auto;
    width: 550px;
    text-align: center;
    p{
    padding: 20px;
  }
}
  .scroll{
    margin: 0 auto;
    width: 60px;
  }
}
header{
  border: 1px solid red;
  background: black;
  padding: 50px;
  .comercial_pr{
    margin-top: 50px;
    border: 1px solid red;
    width: 700px;
    display: inline-block;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      height: 1px;
      width: 30%;
      border-bottom: 1px solid magenta;
      left: 0;
      top: 48%;
    }
    div{
      h1{
        font-size: 35px;
        color: white;
        text-transform: uppercase;
        font-weight: normal;
      }
      p{
        color: grey;
        line-height: 35px;
        font-family: courier;
      }
    }
    p{
      margin-top: 50px;
      color: grey;
      line-height: 35px;
    }
    .video{
      width: 250px;
      height: 50px;
      background: #2B2C35;
    }
  }
  .images{
    display: inline-block;
  }
}
