*{
  box-sizing: border-box;
  font-family: verdana;
}
.title_menu{
  padding: 20px;
  // TODO: background powinien zawierać ten sam kolor, który występuje jako tło 3 sekcji
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 5px 5px;
  background-color:#282828;
  background-size:5px 5px;
  color: white;
  .logo{
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
  }
  nav{
    margin: 0 auto;
    float: right;
    text-transform: uppercase;
    font-size: 18px;
    li{
      display: inline-block;
      margin-right: 20px;
      &:hover{
        color: magenta;
      }
    }
  }
  .motto{
    margin: 0 auto;
    width: 750px;
    position: relative;
    h1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 55px;
    span{
      font-weight: bold;
      }
    }
    &:after{
      content: "";
      position: absolute;
      height: 1px;
      width: 30%;
      border-bottom: 1px solid magenta;
      left: 35%;
      top: 125%;
    }
  }
  .motto_description{
    margin: 0 auto;
    width: 700px;
    text-align: center;
    font-size: 25px;
    p{
    padding: 20px;
    }
  }
  .scroll{
    margin: 0 auto;
    width: 60px;
  }
}
//TODO: ta sekcja powinna być wyśrodkowana na całej stronie bez względu na oddalenie, znaczy jej zawartość
header{
    // FIXME: delete border
  border: 1px solid red;
  background: black;
  padding: 50px;
  .comercial_main{
    width: 1500px;
    margin: 0 auto;

    .comercial_pr{
      margin-top: 50px;
      // FIXME: delete border
      border: 1px solid red;
      width: 1100px;
      display: inline-block;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        width: 30%;
        border-bottom: 10px solid magenta;
        left: 0;
        top: 35%;
      }
      div{
        h1{
          font-size: 55px;
          color: white;
          text-transform: uppercase;
          font-weight: normal;
        }
        p{
          color: grey;
          line-height: 35px;
          font-size: 25px;
          font-family: courier;
        }
      }
      p{
        margin-top: 50px;
        color: grey;
        font-size: 25px;
        line-height: 25px;
      }
      .video{
        width: 300px;
        background: #2B2C35;
        position: relative;
        img{
          display: inline-block;
          width: 50px;
          height: 50px;
        }
        p{
          display: inline-block;
          position: absolute;
          top: -41px;
          &:hover{
            color: magenta;
          }
        }
      }
    }
    .images{
      display: inline-block;
    }
  }
}
//TODO: ta sekcja powinna być wyśrodkowana na całej stronie bez względu na oddalenie, znaczy jej zawartość
.our_speciality{
  // FIXME: delete border
  border: 1px solid red;
  background: #0a0a0f;
  padding: 50px;
  .our_speciality_main{
    width: 2000px;
    margin: 0 auto;
    .our_speciality_information{
      width: 900px;
        // FIXME: delete border
      border: 1px solid red;
      display: inline-block;
      float: left;
      line-height: 30px;
      h1{
        font-size: 55px;
        color: white;
        text-transform: uppercase;
        font-weight: normal;
        border-left: 1px solid magenta;
        border-width: 50px;
        padding-left: 5px;
      }
      .our_speciality_motto{
        color: grey;
        font-family: courier;
        font-size: 25px;
      }
      .our_speciality_moreinf{
        color: grey;
        font-size: 20px;
      }
    }
    .our_specialities{
      display: inline-block;
      width: 800px;
        // FIXME: delete border
      border: 1px solid red;
      .our_specialities_top{
        padding: 15px;
        //TODO: te divy nie są skończone, brakuje im dodatkowej treści, wartości transparent i animate. dodatkowo powinny być odnośnikami
        div{
          padding-top: 50px;
          text-align: center;
          text-transform: uppercase;
          color: white;
          height: 200px;
          width: 200px;
          display: inline-block;
          margin-left: 25px;
          &:hover{
            background: grey;
          }
        }
      }
      .our_specialities_bottom{
        padding: 15px;
        //TODO: te divy nie są skończone, brakuje im dodatkowej treści, wartości transparent i animate. dodatkowo powinny być odnośnikami
        div{
          padding-top: 50px;
          text-align: center;
          text-transform: uppercase;
          color: white;
          height: 200px;
          width: 200px;
          display: inline-block;
          margin-left: 25px;
          &:hover{
            background: grey;
          }
        }
      }
    }
  }
}
